@import url('https://fonts.googleapis.com/css2? family= Nerko+One & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*   @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

.galeria-imagenes {
    /*Código para ampliar o disminuir la caja que contine los botones verdes*/
    /*  outline: 2px solid rgb(81, 255, 0); */
    margin: 2px;
    padding: 5px;
    max-width: 45%;
    /* border-radius: 1em; */
    background-color: #FFFFFF;
    /* box-shadow: 1em 1em 2em var(--sombra-ppal), 1em 1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent; */
}

.contenedor p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 19px;
    /*  font-weight: bolder; */
    text-align: justify;
    color: #001545;
    line-height: 1;
}

@media screen and (max-width: 720px) {
    .galeria-imagenes {
        /*Código para ampliar o disminuir la caja que contine los botones verdes*/
        /*  outline: 2px solid rgb(81, 255, 0); */
        margin: 2px;
        padding: 5px;
        max-width: 95%;
        /* border-radius: 1em; */
        background-color: #FFFFFF;
        /* box-shadow: 1em 1em 2em var(--sombra-ppal), 1em 1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent; */
    }
}

.galeria-work .cont-work{
    border : 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    display:flex;
    transition: all 300ms ease-out;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    perspective: 1000px ;

}

.galeria-work .cont-work:hover{
    transform: rotateX(30deg) translateZ(-40px) translateY(-30px);
    box-shadow: 0 0 30px -15px rgba(0,0,0,0.5);
   
}