.container_todo {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 4rem auto;

  gap: 20px;
}
.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 7px;
  height: 100%;
}

.container_todo .text {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
main h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  margin: 1rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .container_todo {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 3rem 1rem;
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .container_todo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 3rem 1rem;
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .container_todo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1rem 1rem;
    gap: 20px;
  }
}
