@media (max-width: 840px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/** main */
main {
    /* outline: 2px solid rgb(183, 5, 228); */
    margin: 5px;
    font-family: var(--tipo-principal);
    font-size: 100%;
    line-height: 1em;
    /* min-height: 100vh;  */
    background-color: var(--blanco);
    color: var(--negro);
    -webkit-hyphens: auto;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main h3 {
    font-size: 55px;
    color: rgb(4, 3, 83);
    margin: 10px;
    justify-items:center;
    text-align: center;
    line-height: 1.2;
}

.contenedor1 {
    outline: 5PX solid rgb(160, 238, 114);
    margin: 10px 100px 100px 100px;
    padding: 10px;
    width: 75%;
    height: 250%;
    max-width: 120%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: var(--blanco);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    overflow: hidden;
  }


/*Contiene el Artículo*/
/*Imagenes de la Noticia*/
.post-header {
    /* outline: 1px solid rgb(2, 19, 248); */
    width:80%;
    height:620px;

}

.post-img-1 {
    background: url(img/noticias/post1.jpg);
    width:100%;
    height:100%;
    background-size: cover;
}

.post-img-2 {
    background: url(img/noticias/CNSC.png);
    width:100%;
    height:100%;
    background-size: cover;
}

.post-img-3 {
    background: url(img/noticias/Secre1.jpeg);
    width:100%;
    height:100%;
    background-size: cover;
}

.post-img-4 {
    background: url(img/noticias/);
    width:100%;
    height:100%;
    background-size: cover;
}


.post-body {
    padding: 15px;
    line-height: 1;
    text-align: justify;
}

.post-body h2 {
    
    text-align: center;
    line-height: 1.5;
    margin-bottom: 25px;
    color: rgb(5, 5, 5);
}

.post-body p {
    line-height: 1.5;
    margin-bottom: 75px;
    text-align: justify;
    color: rgb(7, 7, 7);
}

.post-body span {
    display:block;
    text-align: end;
    color: rgb(253, 7, 7);
}
